#hlavninadpis{
    color: rgb(255, 0, 0);
    font-size: 4em;
    text-decoration: underline;
}

body{
    max-width: 60em;
    margin: auto; 
    background-size: 100% 100%;
    background-image: url(https://wallpapercave.com/wp/wp2856698.jpg);
    font-family: sans-serif; 
}

header{
    border-radius: 1em 1em 0 0;
    background-color: rgba(56, 56, 255, 0.463);
    padding: 15px;
}

main{
    background-color: rgba(255, 255, 255, 0.629);
    padding: 15px;
}

footer{
    border-radius: 0 0 1em 1em;
    background-color: rgba(4, 0, 255, 0.463);
    padding: 15px;
}

#kontaktniemail1{
    color: rgb(95, 0, 95);
}

#hlavnipodnadpis{
    font-size: 1
    .2em;
}

#maindiv{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.425);
}

#domaciukolyskola{
    background-color: rgba(46, 46, 255, 0.425);
}

#domaciprace{
    background-color: rgba(72, 255, 72, 0.425);
}

#nakupniseznam{
    background-color: rgba(249, 249, 82, 0.425);
}

#nepovinneukolyzitkurzu{
    background-color: rgba(255, 62, 62, 0.425);
}

section{
    padding: 5px;
}

section h1{
    text-decoration: underline;
}

.splneno{
    color: green;
    text-decoration: line-through;
}

.nesplneno{
    color: rgb(0, 0, 0);
}

.rozpracovano{
    color: blue;
    font-style: italic;
}

button{
    border-radius: 2em;
}

button:hover{
    background-color: rgb(113, 113, 113);
}